body {
  color: #f8f9fa;
}
.border {
  max-width: 500px;
  border-color: #ced4da;
  border-radius: 4px;
  border-width: 1px;
  padding: 10px;
  margin: 20px auto;
  margin-bottom: 1px;
  display: block;
  text-align: center;
  background-color: black;
}
input#enterCity {
  padding: 0px;
  width: 250px;
  height: 20px;
  font-size: 12px;
  border: 1px solid rgb(248, 249, 250);
  background-color: #ced4da;
  border-radius: 1px;
  margin-right: 2px;
}
input#enterCity:hover {
  background: #77aaf7;
}
input#submitCity {
  padding: 0px;
  margin-left: 2px;
  width: 20px;
  height: 20px;
  font-size: 12px;
  border: 1px solid rgb(248, 249, 250);
  background-color: #ced4da;
  border-radius: 2px;
  color: #696e72;
}
input#submitCity:hover {
  background: #77aaf7;
}
#typename {
  display: block;
  margin: 0px auto;
  padding: 0px;
  text-align: center;
}
.currently {
  max-width: 200px;
  text-align: center;
  padding: 0px;
}
.predict {
  max-width: 200px;
  text-align: center;
  margin-top: 40px;
  font-size: 13px;
  padding: 0px;
}
div.container.text-center.tempreture {
  padding: 0px;
}
div.container.text-center.predictTable {
  padding: 0px;
  border-bottom: 1px solid rgb(248, 249, 250, 0.3);
}
div.container.text-center.predictTable:hover {
  transform: scale(1.08);
  border-radius: 2px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 2px;
}
#cityName {
  padding-bottom: 4px;
  padding-top: 4px;
  text-transform: capitalize;
  font-size: 35px;
}
hr {
  padding: 2px;
  margin: 0px;
}
h5 {
  font-size: 15px;
  font-weight: 400;
}
.h2 {
  font-size: 30px;
}
button {
  font-size: 10px;
  border-radius: 4px;
  background-color: #8d959b;
}
button:hover {
  background-color: #77aaf7;
  cursor: pointer;
}
#celsius,
#fahrenheit {
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  text-align: center;
  color: rgb(248, 249, 250);
  text-decoration: none;
}
#celsius:hover,
#fahrenheit:hover {
  color: #77aaf7;
  cursor: pointer;
}
#fahrenheit {
  border-left: 1px solid #8d959b;
  padding-left: 2px;
}

div.col {
  padding: 0px;
  margin: 0px;
  text-align: center;
}
span {
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
}
.footer {
  text-align: center;
  font-size: 10px;
  opacity: 50%;
  color: black;
  padding: 0x;
  margin: 0px;
}
