body {
  color: #f8f9fa;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.border {
  max-width: 450px;
  border-radius: 30px;
  padding: 0px;
  margin: 0px auto;
  display: grid;
  background: linear-gradient(
    76.8deg,
    rgb(121, 45, 129) 3.6%,
    rgb(36, 31, 98) 90.4%
  );
  margin-top: 30px;
  padding: 10px;
  padding-bottom: 20px;
}

#enterCity {
  padding: 0px;
  width: 150px;
  height: 25px;
  font-size: 13px;
  border: 1px solid #3c39be;
  background-color: #ced4da;
  text-align: center;
  letter-spacing: 2px;
  border-radius: 4px;
  color: #696e72;
}
#enterCity:hover {
  color: #f8f9fa;
  background: #3c39be;
  border-color: #3c39be;
}
#submitCity {
  padding: 0px;
  margin-left: 5px;
  width: 27px;
  height: 25px;
  font-size: 13px;
  border: 1px solid #3c39be;
  background-color: #ced4da;
  border-radius: 4px;
  color: #696e72;
}
#submitCity:hover {
  color: #f8f9fa;
  background: #3c39be;
  border-color: #3c39be;
}

#typename {
  margin: 0px auto;
  padding: 0px;
  text-align: center;
  max-width: 200px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#date {
  max-width: 200px;
  font-size: 16px;
  font-weight: 200;
  padding: 0px;
  margin: 0px auto;
  margin-top: 3px;
  text-align: center;
  align-items: center;
  padding-bottom: 5px;
}

#date:hover {
  transform: scale(1.08);
  border-radius: 15px;
}

span.row.tempreture {
  display: flex;
  justify-content: space-around;
}
.currently {
  max-width: 200px;
  text-align: center;
  padding: 0px;
  padding-bottom: 2px;
}
.forecast {
  max-width: 200px;
  text-align: center;
  margin: 0px;
  font-size: 14px;
  padding: 0px;
  text-align: center;
  display: flex;
  margin-top: 14px;
}

div.row.fTable {
  padding: 0px;
  border: 1px solid rgb(248, 249, 250, 0.2);
  text-align: center;
  font-size: 15px;
  margin: 0px;
  max-width: 190px;
  align-items: baseline;
  max-height: 32px;
  border-radius: 3px;
  margin-bottom: 2px;
}
div.row.fTable:hover {
  transform: scale(1.08);
  border-radius: 2px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}
#cityName {
  padding: 0px;
  padding-top: 4px;
  margin-bottom: 5px;
  text-transform: capitalize;
  font-size: 29px;
}
hr {
  padding: 0px;
  margin: 0px;
}
#CurrentLocation {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  letter-spacing: 2px;
}
#timezone {
  font-size: 15px;
  font-weight: 400;
  padding: 0px;
  margin: 0px;
  text-align: center;
  letter-spacing: 1px;
}

#h2Temp {
  font-size: 39px;
  font-weight: 600;
}
h6 {
  font-size: 15px;
  text-transform: capitalize;
  padding-top: 10px;
}
#humidityAndwind {
  text-transform: capitalize;
  margin: 0px;
  padding: 0px;
  font-size: 11px;
}
.active {
  cursor: default;
  color: #f8f9fa;
  text-decoration: aliceblue;
}

.active:hover {
  cursor: text;
  color: #f8f9fa;
}
#celsius,
#fahrenheit {
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  text-align: center;
  text-decoration: none;
}

#fahrenheit {
  border-left: 1px solid #8d959b;
  padding-left: 2px;
}
#min {
  color: #7a8188;
}
#minmax {
  font-size: 14px;
  font-weight: 600;
}
div.col {
  padding: 0px;
  margin: 0px;
  text-align: center;
}

div#containor {
  padding-top: 10px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mainIcon {
  margin: 0px;
  width: 80px;
  padding: 0px;
}
.footer {
  text-align: center;
  font-size: 10px;
  opacity: 50%;
  color: black;
  padding: 0x;
  margin: 0px;
}
.footerLink {
  color: darkblue;
  opacity: 100%;
  text-decoration: none;
  font-weight: 500;
}
